@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Dela+Gothic+One&display=swap');

html {
   font-size: 16px;
}

body {
    background-color:#654552;
    line-height: 3.4375rem;
    margin: 0; 
    color: #F5F5F5;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
}

header {
    background-color: #BCA898;
    padding-right: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}


h1 { /* havigation*/
    color: #F5F5F5;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}

h2 { /* footer*/
   width: 12rem;
    color: #FFFFFF;
    margin: auto;
    display: flex;
}

h3 { /* titles for portfolio*/
    color: #ffffff;
    font-family: Dela Gothic One;
    font-size: 2.1875rem;
    font-weight: 400;
    line-height: 3.4375rem;
    text-align: center;
   
}


h4 { /* Im Sofia*/
    font-family: 'Dela Gothic One', sans-serif;
    color: #654552;
    width: 100rem;
    font-family: Dela Gothic One;
    font-size: 4rem;
    font-weight: 400;
    line-height: 6.25rem; /* 108.696% */
    letter-spacing: 0.345rem;
    display: flex;
    justify-content: space-between;
    padding-left: 21rem;
}


h5 { /* smaller bio- >a  San  Francisco based designer 
    with interests in graphic, web, &
    UX / UI design */
    color: #654552;
    text-align: center;
    font-family: Dela Gothic One;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    display: flex;
    padding-left: 20rem;
}


h6 {
    color: #ffffff;
    font-family: Dela Gothic One;
    font-size: 2.1875rem;
    font-weight: 400;

}

.big_logo {
    width: 12rem;
    display: flex;
}

.flex-container-index {
display: flex;
padding: 5rem;
}

#psst {
align-items: center;
padding-left: 20rem;
padding-top: 5rem;
}

.About {
    color: #F5F5F5;
    text-align: center;
    font-family: Dela Gothic One;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a { /*header decoration*/
    color: #F5F5F5;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

#arrow {
padding-left: 31rem;
padding-top: 1rem;   
}

.one{
    padding-left: 25rem;
    display: flex;
    padding-top: 10rem;
  }

a h1:hover {
    color: #654552;
}

.flex-container-about {
    padding: 5rem;
    flex-direction: row;
    display: flex;
    text-align: justify;
    column-gap: 5rem;
  

    }

footer {
    
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6rem;
}

#headertop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#byline {
    width: 50%; 
    position: absolute; 
    z-index: 2; 
    top: 3rem; 
}

#logo {
align-self: flex-start;
   align-items: left;
   padding-bottom: 2rem;
}

section {
margin: 9.25rem auto;
display: grid;
grid-template-columns: repeat (12,1fr);
grid-column-gap: 1.5rem;
grid-auto-flow: dense;
}


#project_1 {
grid-column: 9/10;

}

#description_1 {
    grid-column: 1/10;
    text-align: justify;
    padding-left: 18rem;
    padding-right: 14rem;
    padding-bottom: 2rem;
    
}


#project_2 {
    grid-column: 3/9;
    align-items: center;
    letter-spacing: 2rem;
    
    }

#description_2 {
    padding-left: 18rem;
    padding-right: 18rem;
    padding-bottom: 2rem;
    padding-top: 10rem;
    text-align:justify;
    grid-column: 2/10;
}
    
#flex-container-portfolio {
    display: flex;
    align-items: center;
    padding-left: 15rem;
    flex-direction: row;
}
    

#description_3 {
grid-column: auto;
grid-column: 1/10;
padding-right: 18rem;
padding-left: 19rem;
padding-top: 8rem;
padding-bottom: 6%;
text-align: justify;


}

#project_4 {
    grid-column: 5/11;
    padding-right: 23rem;
    }

#description_4 {
    grid-column: 2/9;
    text-align: justify;
    padding-left: 21rem;
    padding-top: 10rem;
}

#bio {
text-align: left;
padding-left: 2.5%;
padding-right: 2.5%;
padding-bottom: 2.5%;
}



.upsidedown {
align-items: right;
padding-left: 50%;
}



/* notes for mmyself

10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem */

